* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #a2cdfc, #ff85cd);
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

header h1 {
    font-size: 2rem;
    font-weight: 600;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    background: white;
    color: #a2cdfc;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #a2cdfc;
    color: white;
}
